@forward 'normalize.scss';

// colours
$pure-white: #ffffff;
$cream: #f2eae2;
$aurometal-saurus: #6c7289;
$deep-aquamarine: #3d8168;
$deep-aquamarine-hover: #1a4032;
$gunmetal: #1c232b;

// fonts
$fraunces: 'Fraunces', serif;
$montserrat: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $cream;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 1rem 1rem 1rem;
  height: 100vh;
}

.card {
  max-width: 375px;
  background-color: $pure-white;
  border-radius: 0.8rem;
  &__img-mobile {
    border-radius: 0.8rem 0.8rem 0 0;
    width: 100%;
  }
  &__img-desktop {
    display: none;
  }
}

.product {
  padding: 1.5rem;
  &__type {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    font-family: $montserrat;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $aurometal-saurus;
  }
  &__name {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: $fraunces;
    font-weight: 700;
    line-height: 2rem;
  }
  &__desc {
    margin-bottom: 1.5rem;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 0.875rem;
    color: $aurometal-saurus;
    line-height: 23px;
  }
}

.cost {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  &__current {
    font-family: $fraunces;
    font-weight: 700;
    font-size: 2rem;
    color: $deep-aquamarine;
    margin-right: 1.2rem;
  }
  &__original {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 0.8rem;
    color: $aurometal-saurus;
    text-decoration: line-through;
  }
}

.button {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: $deep-aquamarine;
  color: $pure-white;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    max-width: 600px;
    &__img-mobile {
      display: none;
    }
    &__img-desktop {
      display: block;
      height: 100%;
      max-width: 50%;
      border-radius: 0.8rem 0 0 0.8rem;
    }
  }
  .product {
    padding: 2rem;
    &__type {
      margin-bottom: 1.25rem;
    }
    &__name {
      margin-bottom: 1.5rem;
    }
    &__desc {
      margin-bottom: 1.75rem;
    }
  }
  .cost {
    margin-bottom: 1.9rem;
  }
  .button:hover {
    background-color: $deep-aquamarine-hover;
  }
}
