@use '../abstracts/variables' as *;

.card {
  overflow: hidden;
  max-width: 375px;
  background-color: $pure-white;
  border-radius: 0.8rem;
  & > * {
    flex-basis: 50%;
  }
  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    max-width: 600px;
  }
}
